ul{
  list-style-type: none;
}

p.gray {
  color: darkgray;
}

p.blue {
  color: skyblue;
}

body {
  font-style: serif;
}

.skyblue { color: skyblue; }

.footerLogos {
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: darkgray;
  justify-content: space-between;
  color: white;
}

.sidebar {
  width: 25rem;
  float: right;
  padding: 2rem;
  padding-right: 10rem;
}

.main {
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  float: left;
}

.header {
  padding: 100px 0;
  background-color: lightblue;
  color: white;
}

.navbox {
  justify-content: space-between;
  height: 3rem;
  text-indent: 5%;
  background-color: lightgray;
  padding: 2rem;
}

h1 {
  text-indent: 5%;
}

h2 {
  text-indent: 5%;
}

h4 {
  color: skyblue;
}

p.q {
  color: lightblue;
}

a:link {
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a.class1 {
  color: blue;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
